body{
    font-family: 'Baloo Tamma 2', cursive;
    background-color: #fafafa;
    color: rgb(27, 27, 27);
}
* {
    margin: 0;
    padding: 0;
}
img{
    cursor: pointer;
}
.header {
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid #d6d6d6 ;
}
.header ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    align-items: center;
    grid-gap: 28px;
    height: 55px;
    width: 100%;
}
li{
    list-style: none;
    display: flex;    
    align-items: center;
}
li:nth-of-type(2){
    justify-self: center;
}
li:nth-of-type(3){
    justify-self: right;
}
li i{  
    margin: 0 12px;
}
i {
    font-size: 21px;
    cursor: pointer;
}
input {
    text-align: center;
    height: 28px;
    width: 215px;
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
}
.information{    
    margin: 100px auto;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-content: initial;
    grid-gap: 28px;     
    width: 100%;
    overflow:hidden;
}
h1{
    font-weight: 300;
}
.first{
    display: flex;  
    align-items: center;
    margin-bottom: 20px;
}
button{
    border: 1px solid gray;
    background-color: transparent;
    padding: 8px 13px;
    margin: 0 15px;
    border-radius: 5px;
    font-weight: bold;
}
.second .followers{
    display: flex;
    margin-bottom: 25px;
}
.second li{
    margin-right: 15px;
}
.imgInfo{
    justify-self: center;
}
.desInfo{
    justify-self: left;
}
.information img{
    border-radius: 50%; 
}
@media screen and (min-width: 768px){
    input {
        display: block;
    }
    .information{    
        grid-template-columns: minmax(100px, 279px) minmax(300px, 600px) ;    
    }
    .second li{
        margin-right: 55px;
    }
}
.separador{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    
}
.subSeparador{
   border-top: 1px solid rgba(126, 126, 126, 0.6);
}
.infoSeparador ul{
    display: flex;
    justify-content: center;    
}
.infoSeparador li{
    margin-right: 30px;
    padding: 25px 0;
    display: flex;
    align-content: center;
    font-size: 12px;
    color: rgba(126, 126, 126, 0.8);
    cursor: pointer;
}
.infoSeparador li i{
    font-size: 12px;
    margin: 0;
    margin-right: 8px;
}
.infoSeparador li:nth-of-type(1){
    color: rgba(19, 19, 19, 1);
}
.infoSeparador li:nth-of-type(4){
    margin-right: 0;
}
@media screen and (min-width: 768px){
.infoSeparador li{
    margin-right: 50px;
}
.separador{
    grid-template-columns: 935px;
}
}
.post{
    cursor: pointer;
    position: relative;
    display: block;  
    overflow: hidden;
    border: 1px solid rgba(224, 224, 224, 0.4);
}
.post-list {    
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px; 
}
.post-image img{
    width: 100%;  
    vertical-align: top;
}

.post-overlay{
    background: rgba(0,0,0, .5);
    position: absolute;   
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: ease-in-out 10s;
}

.post:hover .post-overlay{
    display: flex;   
}
.post-likes,
.post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
@media screen and (max-width: 768px) {
    .post-list {      
        grid-gap: 3px;
    }
}